div.grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #34495e;
    color: rgb(172, 64, 64);
    border: 6px solid #161609;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
