div.grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #0f7deb;
    color: rgb(193, 131, 232);
    border: 6px solid #a1ccf7;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
