div.grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: teal;
    color: #fff;
    border: 6px solid pink;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}


#resetGame {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    height: 55px;
    width: 100px;
    margin: 10px;
  }